<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi Ubicación App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="registrarUbicacion()">
    <ion-icon name="location-outline" slot="start"></ion-icon>
    Registrar en Supabase
  </ion-button>

  <ion-card *ngIf="latitud">
    <ion-card-header>
      <ion-card-title>Coordenadas Capturadas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Lat:</strong> {{ latitud }}</p>
      <p><strong>Lng:</strong> {{ longitud }}</p>
      
      <ion-button expand="block" color="secondary" (click)="abrirMapa()" class="ion-margin-top">
        Ver en Google Maps
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>